#vapor{

height: 400px;
width: 350px;

}

#retro{

color: palevioletred;
background-color: black;



}

#fash{

border-style: purple;


}

#img{
     
    margin-right: 550px;
    

}

